##Octave
octave-core

##Octave - Ugly files
genGraph*
isPeriode.m

##OdePkg for octave
ode*
bvp4c.m

##Dolphin
.directory

##Rapport - Images (contenues dans le pdf anyway)
*.png

##Rapport - pdfLatex output
*.dvi
*.aux
*.lof
*.toc
*.bib
*.log
*.nav
*.out
*.snm
*.ind
*.idx
*.ilg

##Mint - Backup
*.backup

##Stuff
Rapport Fostella.pdf
Conseils.pdf
CHI*

##Vim
*.swp

